*{
    margin: 0px;
}
/*--------------------------------------modificaciones header   */
header{
    background-color: #2a324b;
    padding: 0px 60px;
}

header h1{
    font-size: 50px;
    display: inline;
    color: white;
    position: relative;
    top: -50px;
    right: -5rem;
}
/*--------------------------------------modificaciones section*/
section{
    font-size: 20px;
    margin: 0rem 4rem 0rem 4rem;
}

h2{
    font-size: 35px;
}

section article{
    background-color: rgba(255, 255, 255, 0.425);
    border: 5px black;
    border-radius: 0.3px;
}
ul{
    list-style-type: none;
}
ul li ul{
    list-style-type: circle;
}
#Present{
    font-size: 23px;
    margin: 20px 0px 20px 0px;
}
#Present p{
    padding: 10px 0px 15px 0px;
}
#Gral_contact{
    margin: 20px 0px 20px 0px;
}
#contact{
    color: #ec5351;
}


#Exp{
    margin: 20px 0px 20px 0px;
}
#Exp ul{
    list-style-type: disc;
}
#Exp li{
    padding: 10px;
}


#Formacion{
    margin: 20px 0px 20px 0px;
}
#Formacion ul{
    list-style-type: disc;
}
#Formacion li{
    padding: 10px;
}
/*--------------------------------------modificaciones footer   */
footer{
    font-size: 20px;
    color: white;
    padding: 25px 0px 25px 0px;
    background-color: #2a324b;
}
footer p{
    text-align: center;
}
a{
    color: #5ecb8b;
}
footer h3{
    font-size: 50px;
    padding: 25px;
    text-align: center;
}